[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
marshmallow = "*"
flask-jwt-extended = "*"
werkzeug = "*"
uuid = "*"
bson = "*"
flask-bcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
